
@{
    ViewBag.Title = "Index";
}

<h2>Gestion Administradores</h2>

<div class="col-sm-5">

<input type="button" class="btn center-block" value="Gestion Profesores/as" onclick="location.href='@Url.Action("GestionProfesores", "Admin")'" />
</div>

<div class="col-sm-5">
    <input type="button" class="btn center-block" value="Gestion Materias" onclick="location.href='@Url.Action("Materias", "Admin")'" />
</div>

